<%= javascript_include_tag 'raphael', 'g.raphael', 'g.line' %>

<div class="well" id="holder" style="height:270px;">
</div>

<div class="row">
  <% @stages.each do |stage| %>
    <%= div_for stage, :class => "span4" do %>
      <h3><%= stage.name %></h3>
        <% stage.stories.where(:project_id => @project).each do |story| %>
          <% div_for story, :class => 'well' do %>
            <div><%= link_to story.name, story %></div>
            <% story.labels.each do |label| %>
              <span class="label"><%= label.name %></span>
            <% end %>
            <% if story.points && story.points > 0 %>
              <div class="points">
                <% story.points.times do %>
                  •
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  window.onload = function () {
    var options = {
      axis:      "0 0 1 1",                   // Where to put the labels (trbl)
      axisxstep: <%= @burndown.length - 1 %>, // How many x interval labels to render
      axisystep: <%= @burndown.first %>,      // How many y interval labels to render
      colors:    ["#0069D6"]
    };

    var r = Raphael("holder");
    var x = [0, 1, 2, 3, 4, 5, 6];
    var y = [];
    var z = [0, 0, 0, 0, 0, 0, 0];

    <% @burndown.each_with_index do |points, i| %>
      y.push(<%= points %>);
    <% end %>

    var chart = r.g.linechart(10, 0, 880, 260, x, [y, z], options);

    var xText = chart.axis[0].text.items;
    var days = ['', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
    for (var i = 0; i < xText.size(); i++) {
      xText[i].attr({'text': (days[i] ? days[i] : '')});
    };
  };
</script>