<h1><%= @story.name %></h1>

<% unless @story.description.blank? %>
  <div class="well">
    <%= simple_format auto_link @story.description %>
  </div>
<% end %>

<p class="tags">
  <span class="label <%= @story.stage.name == "Done" ? "success" : "notice" %>"><%= @story.stage.name %></span>
  <% @story.labels.each do |label| %>
    <span class="label"><%= label.name %></span>
  <% end %>
</p>

<% @story.tasks.order('position ASC').each do |task| %>
  <ul class="breadcrumb">
    <li class="active">
      <input type="checkbox" <%= "checked" if task.complete %> />
      <%= task.description %>
    </li>
  </ul>
<% end %>
