<!DOCTYPE html>
<html>
<head>
  <title>AgileBoard</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "AgileBoard", root_path, :class => "brand" %>

        <% if @board %>
          <ul class="nav">
            <% @board.projects.each do |project| %>
              <li class="<%= 'active' if project == @project %>"><%= link_to project.name, project %></li>
            <% end %>
          </ul>
        <% end %>

        <ul class="nav secondary-nav">
          <% if @board && @board.projects.any? %>
            <li><%= link_to "Refresh", refresh_path %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice %>
      <div class="alert-message success"><p><%= notice %></p></div>
    <% end %>
    <% if alert %>
      <div class="alert-message error"><p><%= alert %></p></div>
    <% end %>

    <%= yield %>

    <footer>
      <p>Made with love, coffee and Rails.</p>
    </footer>
  </div>
</body>
</html>
